<div id="shop_edit">
	<h1>Edit a shop</h1>

	<div id="edit_shop_form">
		<%= form_for @shop do |f| %>
		  <%= f.label :name %><br>
		  <%= f.text_field :name, required: true %><br>
		  <%= render 'error', :@shop => @shop, :f => :name %>

		  <%= f.label :address %><br>
		  <%= f.text_field :address, required: true %><br>
		  <%= render 'error', :@shop => @shop, :f => :address %>

		  <%= f.label :city %><br>
		  <%= f.text_field :city, required: true %><br>
		  <%= render 'error', :@shop => @shop, :f => :city %>

		  <%= f.label :phone %><br>
		  <%= f.text_field :phone, required: true %><br>
		  <%= render 'error', :@shop => @shop, :f => :phone %>

		  <%= f.label :zip %><br>
		  <%= f.text_field :zip, required: true %><br>
		  <%= render 'error', :@shop => @shop, :f => :zip %>

		  <%= f.label :country_code %><br>
		  <%= f.text_field :country_code, required: true %><br>
		  <%= render 'error', :@shop => @shop, :f => :country_code %>

		  <%= f.label :latitude %><br>
		  <%= f.text_field :latitude, required: true %><br>
		  <%= render 'error', :@shop => @shop, :f => :latitude %>

		  <%= f.label :longitude %><br>
		  <%= f.text_field :longitude, required: true %><br>
		  <%= render 'error', :@shop => @shop, :f => :longitude %>

		  <%= f.submit "Edit", class: "btn btn-light"%>
		<% end %>
	</div>
</div>