<head> <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/></head>

<div id="shop_find" class="container-fluid">
  <div class="row" id="search_box">

	  <%= form_tag(shops_find_path, method: :get, style: "background-color: cyan;display:flex;justify-content:space-around;") do %> 
	  
	  

	  <%= label_tag "Adresse, ville, ou code postal"%>
	  <%= text_field_tag :place %>

	  <%= submit_tag "Rechercher"%>
	  <%end%>

  </div>

  <div class="row">	  
    <div id="result" class="col" style="">
      <% if @shops.blank? %>
        <h2>Aucun shop trouvé.</h2>
      <% else %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Phone</th>
            </tr>
          </thead>

        <% @shops.each do |shop| %>

          <tr class="shop" data-lat="<%=shop.latitude%>" data-long="<%= shop.longitude %>" data-nom="<%= shop.name %>">
            <td> <%= shop.name %> </td>
            <td> <%= shop.address %> </td>
            <td> <%= shop.phone %> </td>
          </tr>
        
        <% end %>
        </table>
      <% end %>
    </div>

    <div id="map" class="col-6" style="height: 650px;">

    </div>
  </div>
</div>

<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>

<script type="text/javascript">
	$( document ).ready(function() {

	let map = L.map('map').setView([46.78054940133053, 2.6491201250000813], 6);

	L.tileLayer('//{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
	    attribution: 'donn&eacute;es &copy; <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
	    maxZoom: 18
	}).addTo(map);

	Array.from(document.querySelectorAll('.shop')).forEach((shop) => {
		L.marker([shop.dataset.lat, shop.dataset.long]).addTo(map).bindPopup(shop.dataset.nom);
	})

	});
</script>