	<center><h1>Find shops</h1></center>

  	<form action="/shops" method="get">
  	  <div class="form-row justify-content-md-center" style="margin-bottom: 30px;">
  	    <div class="form-group col col-lg-5">
  	      <label for="place">Address, city, or zip</label>
  	      <input type="text" id="place" name="place" class="form-control" placeholder="Paris">
  	    </div>
  	    <div class="col-auto" style="margin-top: 31px;">
  	    	<button type="submit" class="btn btn-dark">Rechercher</button>
  	    </div>
  	  </div>
  	</form>

<div id="results_table">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Address</th>
	      <th scope="col">Phone</th>
	      <th scope="col">Zip</th>
	      <th scope="col">Edit</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <% @shops.each do |shop| %>

	    <tr>
	      <td> <%= shop.name %> </td>
	      <td> <%= shop.address %> </td>
	      <td> <%= shop.phone %> </td>
	      <td> <%= shop.zip %> </td>
	      <td> <%= link_to "Edit", edit_shop_path(shop), class: "btn btn-light" %> </td>
	      <td> <%= link_to "Delete", shop_path(shop), method: :delete , class: "btn btn-dark" %> </td>
	    </tr>
	  
	  <% end %>
	</table>
</div>